[mesh]
name=Villages Mesh
description=Serving Meshtastic to The Villages and surrounding areas
contact=mike@k3do.com
url=https://handsontechorg.weebly.com/meshtastic.html
latitude=28.81
longitude=-81.97
channel_key=1PG7OiApB1nwvP+rz05pAQ==

[mqtt]
broker=mqtt.villagesmesh.com
port=1883
topic=msh/US/FL/thevillages/#
username=meshdev
password=large4cats

[database]
host=mariadb
username=meshdata
password=passw0rd
database=meshdata

[webserver]
port=8001

[server]
node_activity_prune_threshold=7200
render_interval=15
debug=false

[geocoding]
enabled=false
apikey=YOUR_KEY_HERE

[registrations]
enabled=true
jwt_secret=6219c1c2364499639ce9d16c33863c4f6fedb7a4a1a0f29524c20d95cb00e5f5

[smtp]
email=YOUR_EMAIL_ADDRESS
password=SMTP_PASSWORD
server=SMTP_SERVER
port=SMTP_PORT

[tools]
Hands-On-Tech=https://handsontechorg.weebly.com/meshtastic.html
jaxmap_Florida=https://jaxmesh.org
Liams_Map=https://meshtastic.liamcottle.net/?lat=28.85970894250466&lng=278.0550384521485&zoom=11
MeshMap=https://meshmap.net/
Meshtastic_Site_planner=https://site.meshtastic.org/
HWT_Path_Profiler=https://heywhatsthat.com/profiler.html

[net]
name=MeshtasticWednesday